body {
  font-family: 'Libre Franklin', sans-serif;
}

a:hover {
  color: red;
}

.center-text {
  text-align: center;
}

.error {
  color: red;
}

.heading {
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.subtitle {
  margin-top: -2rem;
}

.success {
  color: green;
}

.focus {
  display: block;
}

#lista h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

#lista ul li {
  margin-bottom: 0;
  list-style: none;
  margin-left: 3rem;
}

#lista ul li a:hover {
  color: red;
}

#lista .canto {
  text-decoration: none;
  color: inherit;
}

#canto .navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
  display: block;
  height: 4rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#canto .navbar .container {
  width: 80%;
}

#canto .navbar .navbar-list {
  list-style: none;
  margin-bottom: 0;
}

#canto .navbar .navbar-item {
  float: left;
  margin-bottom: 0;
  position: relative;
}

#canto .navbar a {
  color: #222;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  line-height: 4rem;
  margin-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
}

#canto .navbar a:hover {
  color: red;
}

#canto .popover {
  background: #fff;
  border-radius: 4px;
  display: none;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
  -moz-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
  -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .1));
  left: -50%;
  left: 0;
  position: absolute;
  top: 0;
  top: 92%;
}

#canto .navbar #audio {
  float: right;
}

#canto #codeNavPopover ul {
  list-style: none;
  margin: 0;
}

#canto #codeNavPopover li {
  margin-bottom: 0;
  padding: 0.25rem 1rem;
  text-align: center;
}

#canto #codeNavPopover li:hover {
  background-color: red;
}

#canto #codeNavPopover a {
  color: black;
  text-decoration: none;
  width: 100%;
  line-height: 0;
  margin-right: 0;
  text-transform: none;
}

#canto #codeNavPopover li:hover a {
  color: white;
  /* font-weight: bold; */
}

#cartilla {
  padding: 40px;
  width: 840px;
  border: 1px solid black;
}

#cartilla p {
  margin-bottom: -10px;
}

#cartilla .navbar a:hover {
  color: red;
}

#cartilla .titulo {
  color: red;
  font-size: larger;
  font-weight: bold;
  margin-bottom: -10px;
  text-transform: uppercase;
}

#cartilla .sub-titulo {
  font-size: small;
}

#cartilla .chord {
  color: red;
  font-size: smaller;
}

#cartilla .first {
  margin-left: 32px;
}

#cartilla .flag {
  color: gray;
  margin-right: 15px
}

#cartilla .chorus {
  font-weight: bold;
  text-transform: uppercase;
}
